body {
    background-color: black;
    color: white;
}

.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    
  }
  
.p-card{
    padding: 20px;
    margin-top: 10px;
    border: solid 2px #FFFF81;
}

img{
    width: 300px;
    height: 200px;
}

.card-title{
    color: #3300FF;
    margin-top: 20px;
}

.resume-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 3px #FFFF81;
    margin: 50px;
}

.resume-title-container{
    background-color: #3300FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFF81;
    margin-bottom: 20px;
}

.resume-content{
    
}

.experience-container{
    margin: 10px;
}

.experience-list{
    color: black;
    border: solid 4px #FFFF81;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.experience-title{
    color: #3300FF;
}

.education-container{
    margin: 10px;
}

.skill-container{
    margin: 10px;
}

.education-title{
    color: #3300FF;
}

.skill-title{
    color: #3300FF;
}

.contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -200px;
    color: #3300FF;
    
}